<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container-fluid">
        <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasExample"
         aria-controls="#offcanvasExample">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a href="" class="navbar-brand fw-bold text-uppercase">BookShelf</a>
     </div>
    
        <form class="d-fex ms-auto">
            <div class="input-group my-3 my-lg-0">
               
                <input type="text" class="form-control" placeholder="Busca" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="button">
                    <i class="bi bi-search"></i> 
                </button>
                              
            </div>
        </form>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>            
</nav>
<sidebar-component></sidebar-component>
<router-outlet></router-outlet>
<notifier-container></notifier-container>

   
